.BoardView__list{
  margin-top:5px;
  list-style: none;
  padding: 0px;

  li:last-child{
    border-bottom: 1px solid $cardBorderColor;
  }

  li{
    height:93px;
    border-top: 1px solid $cardBorderColor;
    border-right: 1px solid $cardBorderColor;
    border-left: 1px solid $cardBorderColor;
    padding: 15px;
    display:flex;
    align-items: center;
    &:hover{
      background-color: $cardColor;
    }
    .wrapper{
      width: 748px;
    }
    &.BoardView__item{
      position: relative;
      .writer{
        display: inline-block;
        margin-left:10px;
      }
      a{
        color: inherit;
        text-decoration: none;
      }
      .status{
        @include stats-default;
        display:flex;
        position: absolute;
        right:0;
        bottom:0;
      }
    }
  }

}
