.BoardView{
  .BoardView__main{
    position:relative;
    left:25px;
    width:780px;
    height:500px;
  }

  .BoardView__title{
    width:748px;
    height:29px;
    left:25px;
    margin-top:5px;
    padding:15px;
    border: 1px solid $borderColor;
    font-size: 22px;
    font-weight: bold;
  }

  .BoardView__writePost{
    width:100%;
    height:46px;
    margin-top:5px;
    background-color:khaki;
  }

  .BoardView__list{
    margin-top:5px;
    list-style: none;
    padding: 0px;

    li{
      width:758px;
      height:93px;
      border: 1px solid $borderColor;
      padding-left:20px;
      display:flex;
      align-items: center;
    }
  }

  .BoardView__post{
    width:748px;
    left:25px;
    display: block;
    margin-top:5px;
    padding:15px;
    border: 1px solid $borderColor;

    .BoardView__post__profile__img{
      float: left;
      margin: 0 10px 15px 0;
      width: 40px;
      height: 40px;
      border-radius: 8px;
      background-color: antiquewhite;
    }

    .BoardView__post__profile__writer{
      display: block;
      height: 20px;
      max-width: 200px;
      line-height: 20px;
      font-size: 14px;
      font-weight: bold;

      color: #292929;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


  }
}