.BoardView__list{
  margin-top:5px;
  list-style: none;
  padding: 0px;

  li{
    height:93px;
    border: 1px solid $cardBorderColor;
    padding: 15px;
    display:flex;
    align-items: center;
    .wrapper{
      width: 748px;
    }
    &.BoardView__item{
      a{
        color: inherit;
        text-decoration: none;
      }
    }
  }

}
