.LoginAndRegister{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a{
    width:100%;
    height:40px;
    border: 1px solid $borderColor;
    margin-bottom:5px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:14px;
    font-weight: bold;
    text-decoration: none;
  }
  .LoginAndRegister__LoginButton{
    background-color:white;
    color:$fontColor;
  }
  .LoginAndRegister__RegisterButton{
    background-color: $keyColor;
    color:white;
  }
}