.SubMenu {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 80px auto 25px auto;
  height: 230px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #d6d6d6;

  .SubMenu__group {
    height: 130px;
    width: 100px;
    background-color: aqua;
  }
}