#toast-container-main {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999999;
  display: flex;
  flex-direction: column;
  width: 300px;

}

#toast-container-main > div {
  background-color: $cardColor;
  color: $fontColor;
  width: 100%;
  margin-bottom: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  animation: slide-in 0.2s;
  transition: all 0.3s ease;
  border-radius: 20px;
  border : 2px solid $keyColor;
}

.toast-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color : $keyColor;
  border-bottom: 1px solid $keyColor;
  margin-bottom: 15px;

}

@keyframes slide-in {
  from {
    transform: translateX(30px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.toast-button {
  background: none;
  border: none;
  color: $fontColor;
  font-weight: 900;
  outline: none;
  cursor: pointer;
  border-radius: 8px;
  padding: 4px 8px;

  &:hover{
    background-color: rgba(0, 0, 0, 0.1);
  }
}

