.TotalView {
  .TotalView__main > .TotalView__card {
    float: left;
    margin: 0 5px 5px 0;
    width: 295px;
    height: 192px;
    overflow: hidden;
    border: 1px solid $borderColor;
    background-color: $cardColor;

    .TotalView__board {
      list-style: none;
      padding:0px;
      margin:0px;
      font-size: 14px;

      li{
        width:100%;
        height:38px;
        display:flex;
        align-items: center;
        padding-left: 12px;
        border-bottom: 1px solid $borderColor;
        &.TotalView__board-name{
          height:40px;
          color:$keyColor;
          font-weight: bold;
          a{
            text-decoration: none;
            color:inherit;
          }
        }

        &.BoardView__item{
          a{
            text-decoration: none;
            p {
              height: 17px;
              line-height: 18px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              color: #444444;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .TotalView__main {
    position: relative;
    left: 215px;
    margin: 15px 0;
    width: 605px;
  }
}