.BoardView__writePost{
  width:100%;
  height:46px;
  margin-top:5px;
  box-sizing: border-box;
  color: $postViewColor;
  text-align: left;
  background: $cardColor url(https://everytime.kr/images/new/container.write.background.png) no-repeat right center;
  background-size: 40px;
  border: 2px solid $cardBorderColor;
  cursor: text;
  font-size: 14px;
}

.Write{
  width: 99.5%;
  height: 480px;
  margin-top:5px;
  border: 2px solid $cardBorderColor;

  p{
    display: block;
    padding: 15px;
    border-bottom: 1px solid #e3e3e3;
    background-color: #fff;
    margin: 0;

    &.Write__title{
      height: 21px;
    }

    &.Write__content{
      height: 351px;
    }

    input{
      vertical-align: middle;
      &:focus{
        outline: none;
      }
      &.title{
        width: 100%;
        height: 21px;
        line-height: 20px;
        color: #292929;
        font-size: 16px;
        font-weight: bold;
        border: none;
      }
    }
    textarea{
      width: 100%;
      height: 351px;
      border: 0;
      resize:none;
      &:focus{
        outline: none;
      }
    }
  }
  ul{
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    height: 48px;

    li{
      //display: block;
      margin: 0;
      height: 48px;
      width: 48px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 40px 40px;
      cursor: pointer;
      &.hashtag{
        float: left;
        background-image: url(https://everytime.kr/images/new/container.articles.write.hashtag.png);
      }
      &.attach{
        margin: 0;
        float: left;
        background-image: url(https://everytime.kr/images/new/container.articles.write.attach.png)
      }
      &.question{
        float: right;
        margin-right: 15px;
        background-image: url(https://everytime.kr/images/container.articles.write.question.png)
      }

      &.anonymous{
        float: right;
        margin-right: 15px;
        background-image: url(https://everytime.kr/images/container.articles.write.anonym.png)
      }
      &.anonymousActive{
        float: right;
        margin-right: 15px;
        background-image: url(https://everytime.kr/images/container.articles.write.anonym.active.png)
      }

      &.submit{
        float: right;
        background-color: $keyColor;
        background-image: url(https://everytime.kr/images/new/container.articles.write.submit.png);
        button{
          border: none;
          background: none;
          width:100%;
          height:100%;
          cursor:pointer;
        }
      }
    }

  }
}
