.BoardView{
  .BoardView__main{
    display: flex;
    flex-direction: column;
    left:25px;
    width:780px;
  }

  .BoardView__subs{
    display: flex;
    align-items: center;
    height:40px;
    .BoardView__subboard{
      padding: 5px;
      cursor: pointer;
      margin-right: 15px;
      text-decoration: underline;
      &.selected{
        color:$keyColor;
        font-weight: bold;
      }
    }
  }

  .BoardView__title{
    width:748px;
    height:29px;
    left:25px;
    padding:15px;
    border: 1px solid $cardBorderColor;
    font-size: 22px;
    font-weight: bold;
  }

}
