div {display: block}

#container {
  width: 1180px;

  position: relative;
  box-sizing: border-box;
  margin: 0 auto 25px auto;

  .banner {
    position: relative;
    left: 215px;
    margin-top: 25px;
    width: 600px;
    height: 160px;
    overflow: hidden;
    background-color: black;
  }

  .leftSide > div{
    border : 1px solid $borderColor;
    background-color: $cardColor;
  }

  .leftSide {
    position: absolute;
    left: 25px;
    top: 0;
    width: 175px;
    height: 300px;

    .userCard {
      height: 219px;
      background-color: $keyColor;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size:16px;
      font-weight: bold;
      color:white;
      cursor: pointer;
    }

    .left_menu {
      margin-top: 5px;
      height: 122px;
      list-style: none;
      padding:0px;
      font-size: 14px;

      li{
        display:flex;
        align-items: center;
        padding: 10px 0 10px 37px;
        border-bottom: 1px solid $borderColor;
        background-repeat:no-repeat;
        background-size: 18px 15px;
        background-position: 8%;
        &#my_post{
          background-image: url(https://everytime.kr/images/new/container.community.card.myarticle.png);
        }
        &#my_comment{
          background-image: url(https://everytime.kr/images/new/container.community.card.mycommentarticle.png);
        }
        &#my_clip{
          background-image: url(https://everytime.kr/images/new/container.community.card.myscrap.png);
        }
      }

    }

    .ad {
      margin-top: 5px;
      height: 115px;
    }
  }

  .rightSide > div{
    border : 1px solid $borderColor;
    background-color: $cardColor;
  }

  .rightSide {
    position: absolute;
    right: 25px;
    top: 0;
    width: 325px;
    height: 400px;

    .searchBar {
      height: 40px;
    }
    .sideNow {
      margin-top: 5px;
      height: 230px;
    }
    .sideHot {
      margin-top: 5px;
      height: 192px;
    }
    .sideBest {
      margin-top: 5px;
      height: 40px;
    }
    .sideSchool {
      margin-top: 5px;
      height: 116px;
    }
    .sideSchool {
      margin-top: 5px;
      height: 432px;
    }
    .sideLecEval {
      margin-top: 5px;
      height: 432px;
    }
  }
}

li{
  list-style: none;
}


