.Register{
  display:flex;
  justify-content: center;

  .Register__Form{
    box-sizing: border-box;
    width:480px;
    padding:24px;
    margin-top:24px;
    border: 1px solid $cardBorderColor;
    border-radius: 5px;
    color:$fontColor;

  }
  .Register__Text{
    margin-bottom: 50px;
  }
  .Register__Input{
    display: flex;
    flex-direction: column;

    .Register__Label{
      padding:5px 10px 10px 10px;
      font-size:12px;
      font-weight: bold;
    }
    select{
      height:32px;
      margin:5px;
      border: 1px solid $cardBorderColor;
      border-radius: 10px;
      background-color: $cardColor;
    }
  }
}
