$cardColor: #f9f9f9;
$borderColor: #d6d6d6;

$fontColor: #444444;
$timeFontColor: #737373;
$keyColor: #c62917;

$postViewColor: #a6a6a6; //게시판 들어갔을 때, 게시물 내용 회색 작은글씨

$rightMenuColor: #3744a5;

$comment_activeColor: #0ca5af;

