$cardColor: #f9f9f9;
$cardBorderColor: #d6d6d6;

$boardColor: #fff;
$boardBorderColor: #e3e3e3;

$HeadFontColor: #292929;
$nickNameFontColor:  #393939;

$fontColor: #444444;
$timeFontColor: #737373;
$keyColor: #c62917;

$postViewColor: #a6a6a6; //게시판 들어갔을 때, 게시물 내용 회색 작은글씨

$rightMenuColor: #3744a5;

$comment_activeColor: #0ca5af;

$scrap_color: #ffcc1c;


//timetable과 lecture
$timetableBackgroundColor:#f8f8f8;
$timetableBorderColor: #e3e3e3;
$timetableLabelColor: #f2f2f2;
$scheduleColor: #a6a6a6;
$timetableFontColor:#737373;
$timeTableMenuWidth: 355px;

