.RightBarWrapper{
  width: 325px;
  flex-shrink: 0;

  .cardB{
    width: 100%;
    h3{
      color: $rightMenuColor;

    }
  }

  .cardA{
    width: 100%;
    h3{
      color: $rightMenuColor;
      span{
        float: right;
        line-height: 20px;
        color: $postViewColor;
        font-size: 12px;
        font-weight: normal;
      }
    }
  }

  .cardLecture{
    margin-bottom: 5px;
    @include card-view-default('b');
    h3{
      color: $rightMenuColor;
    }
  }

  .cardLecture{
    .board-item{
      .star{
        width: 60px;
        height: 12px;
        float: left;
        margin-bottom: 5px;
        background: transparent url(https://everytime.kr/images/app.subject.rating.details.star.off.png) no-repeat;
        background-size: 60px 12px;
        .onStar{
          background: transparent url(https://everytime.kr/images/app.subject.rating.details.star.on.png) no-repeat;
          background-size: 60px 12px;
        }
      }
    }
  }

}
