.App{
    position:relative;
    width:100vw;
    height:100vh;
}


.ChangeTestButton{
    position:fixed;
    height:50px;
    bottom:30px;
    right:30px;
    background-color:darkcyan;
    color:white;
}

.ChangeTestButton:hover{
    background-color: lightcyan;
    color:black;
}